@model IEnumerable<TCC.BackEnd.Specialization>

@{
    ViewBag.Title = "View Specialization";
}

<center>
    <br />
    <div class="wrap-table100">
        <div class="table100">
            <table class="table">

                <div class="creat">
                    @Html.ActionLink("Create Specialization", "Create")
                </div>
                <thead>
                    <tr class="table100-head">
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tapleTD">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</center>

