@model ICollection<TCC.BackEnd.User>
@{
    ViewBag.Title = "Upload CSV";
}

<h2>UploadCSV</h2>

<div class="col-md-12">
    <label />
</div>
<div class="col-md-12">
    @using (Html.BeginForm("UploadCsv", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label for="attachment">Select a Csv File</label>
            <label class="btn btn-default btn-file">
                <input type="file" name="attachmentcsv" id="attachmentcsv" hidden>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    }
</div>


