
@{
    ViewBag.Title = "Control Panel";
}

<center>
    <P id="PMcontol">Control Panel</P>
    <p id="Pcontol">Choose a Section</p>
    <table border="0">
        <tr>
            <td>
                <div class="container">
                    <div class="card" id="cardUser"}>
                        @Html.ActionLink("Users", "Index", "Users")
                    </div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="card">
                        @Html.ActionLink("Subjects", "Index", "Subjects")
                    </div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="card" id="cardSpecializations" >
                        @Html.ActionLink("Specializations", "Index", "Specializations")
                    </div>
                </div>
            </td>
        </tr>
    </table>
</center>
